/* Основные стили сайта */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:url(https://static.tildacdn.com/tild6566-6264-4632-b461-383865386239/YCLIENTS.jpeg); /* Светло-серый фон для всей страницы */
    color: #333; /* Цвет текста */
}

/* Стилизация шапки */
header {
    background-color: #333; /* Темно-серый цвет фона шапки */
    color: #fff; /* Белый цвет текста в шапке */
    padding: 20px 0;
    text-align: center;
}

h1{
  padding:50px ;
  background-color: #87CEEB;
  color: #fff;
}
/* Стили навигационного меню */

.menu {
            float: right !important;
            position: relative;
        }
.menu:last-child {
            margin-right: 0px !important;
            padding-top: 0px ;
            position: relative;
        }

.menu{
  display:flex;
}
.menu li{
  list-style: none;
  position: relative;
  width: 100px;
  background:#0000FF
  
}
.menu a{
  color:#fff;
  text-decoration: none;
  display:block;
  text-align:center;
  padding: 0px 20px;
  height:50px;
  line-height: 50px;
  line-
  transition: all .5s;
}
.menu ul:hover{
  background:#006400 ;
}
.menu ul{
  position: absolute;
  right:100;
  top:100%;
  display:none;
  padding:0;
}
.menu li:hover ul{
  display:block;
}
/* Изменение цвета фона ссылок при наведении */
nav ul li a:hover {
    background-color: #6495ED;
}

/* Стилизация основного контента */
main {
    padding: 20px;
    background-color: #fff; /* Белый цвет фона для контента */
    margin: 20px auto;
    max-width: 1000px; /* Максимальная ширина контента */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Тень вокруг контента */
}

/* Стилизация кнопок и ссылок */
button, .button {
    background-color: #008cba; /* Синий цвет кнопок */
    color: #fff; /* Белый текст на кнопках */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0;
}

button:hover, .button:hover {
    background-color: #005f73; /* Чуть более темный синий при наведении */
}

a {
    color: #008cba; /* Синий цвет для обычных ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}


